<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2 style="color: rgb(253, 30, 0);">Welcome </h2>
        <div class="nav_items" >
        
        <li><a routerLink="/admin/adminregister" routerLinkActive="active">Add User</a></li>
        <li><a routerLink="/policy" routerLinkActive="active">Policies</a></li>
        <li><a routerLink="/updaterecord" routerLinkActive="active">Policy Record</a></li>
        <li><a routerLink="/updatequery" routerLinkActive="active">Queries</a></li>
        <li><a routerLink="/adminpassword" routerLinkActive="active">Update Password</a></li>
        <!--<li><a routerLink="/history" routerLinkActive="active">History</a></li> -->
        <li><a routerLink="" (click)="logout()" routerLinkActive="active">Logout</a></li>
      </div>
      </nav>
      <div class="welcomepage">

      </div>
</body>
</html>
