<div class="bgimage" style="width: 100%; height: 150%;">
    <div class="container-fluid">
      
      <form #userForm="ngForm"  novalidate>
        <h2 style=" margin-top: 10px;margin-right: 10px;">UPDATE YOUR PASSWORD</h2>
        <div class="form-group">
          <label style="margin-top: 50px;text-align: center;" > CURRENT PASSWORD :</label>
          <input type="text" name="userName" class="form-control" >
        </div>
    
        <div class="form-group">
          <label style="margin-top: 10px;text-align: center;"> NEW PASSWORD :</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="user.password">
        </div>
        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit" (click)="updateUserPassword()">submit</button>
      </form>
    </div>
    </div>
