h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: darkblue;
  }
  .form-group{
      width: 30%;
    }
    .btn{
      margin: 50px;
    }
    .bgimage {
      background-size: cover;
      background-image: url(https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?t=st=1648219378~exp=1648219978~hmac=47197c01eca389bfd4e4c0136f091c3f021ea83f9a8bc18332a3464abe27ad24&w=1380);
      }
      
    form{
      margin-left: 400px;
    }