<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <title>Document</title>
</head>
<body>
  <div class="container" >
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs">
          <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <h5><a class="nav-link" routerLink="home">Home</a></h5>
          </li>
          <li>
            <h5><a class="nav-link" routerLink="user">User</a></h5>
          </li>
          <li>
            <h5><a class="nav-link" routerLink="admin">Admin</a></h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>
</html>