<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron mt-4 p-5 text-white base rounded">
        <div class="container my-5">
          <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
              <h3>History</h3>
              <div class="d-flex">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="back()"
                >
                 Back
                </button>
              </div>
            </div>
          </nav>
        </div>
      
        <div class="container my-5">
          <table class="table base1 m-2 table-hover">
            <thead style="background-color: aquamarine">
              <tr>
                <th>Id</th>
                <th>Policy Name</th>
                <th>Category</th>
                <th>Customer Name</th>
                <th>Applied Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of records">
                <td>{{ v.recordno }}</td>
                <td>{{ v.policyname }}</td>
                <td>{{ v.category }}</td>
                <td>{{ v.customername }}</td>
                <td>{{ v.date}}</td>
                <td>{{ v.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</body>
</html>


